/**{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #F0D1A2;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

nav{
    height: 5.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4EBE1;
}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-item{
    margin-left: 2.75rem;
}

.nav-link{
    font-size: 1.45rem;
    color:#555154;
    text-decoration: none;
    font-weight: 500;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: auto;
}

.img-logo>img{
    max-width: 4.5rem;
}

.merk{
    font-size: 2.8rem;
    
}

.nav-list-left{
    float: left;
}

.nama-merk{
    transform: translateY(15%);
}

.nav-link:hover, .active{
    color: #5C6460;
}

.active{
    border-bottom: 2px solid #5C6460;
}

.nav-right{
    margin-right: 5rem; 
    margin-left: auto;
}*/


/* MAIN */

section {
    padding-top: 2rem;
    overflow: hidden;
}

.main{
    padding-top: 8rem;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search{
    margin-left: auto;
    margin-right: auto;
}

.search input[type=text]{
    border-radius: 100px;
    padding: .5rem;
    padding-right: 6rem;
    border-color: #5C6460;
    border-style: solid;
    border-width: 2px;
    color: #555154;
    font-size: 1rem;
    background-color: #F4EBE1;
}

.search button{
    transform: translate(-200%, -10%);
    border: none;
    background-color: #F4EBE1;
}


/* Second Nav */

.second-nav{
    width: 100%;
    left: 0;
    right: 0;
}

.sec-navbar{
    width: 100%;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4EBE1;
}

.second{
    font-size: 1.1rem;
}

.nav-list-second{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 0;
    transform: translateX(-15%);
}

.nav-list-second .active{
    border-bottom: 2px solid #5C6460;
}

.nav-item a{
    margin-left: 2.75rem;
    text-decoration: none;
}

/* Date picker */


.daily{
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.date-pick{
    margin-left: auto;
    margin-right: auto;
}

.date-pick input[type=date]{
    border-radius: 100px;
    padding: .5rem;
    border-color: #5C6460;
    border-style: solid;
    border-width: 2px;
    color: #555154;
    font-size: 1rem;
    background-color: #F4EBE1;
}

.date-pick button{
    border-radius: 100px;
    margin-left: 1.5rem;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-color: #5C6460;
    border-style: solid;
    border-width: 2px;
    background-color: #78746A;
    color: #F4EBE1;
    font-weight: 500px;
}

/* Weekly */
.desc{
    font-size: 1.2rem;
    transform: translateX(-5%);
    color: #555154;
}

/* Monthly */
.custom-sel{
    border-radius: 100px;
    margin-left: 1.5rem;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-color: #5C6460;
    border-style: solid;
    border-width: 2px;
    background-color: #F4EBE1;
    color: #555154;
    font-weight: 500px;
    
}

.btn-search{
    border-radius: 100px;
    margin-left: 1.5rem;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-color: #5C6460;
    border-style: solid;
    border-width: 2px;
    background-color: #78746A;
    color: #F4EBE1;
    font-weight: 500px;
}

/* Daily 2 */

.navbar {
    background-color: antiquewhite;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.navbar-logo {
    width: 5.2rem;
    height: 5rem;
}

.navbar ul li {
    display: inline;
    padding: 30px;
}

.navbar ul li a {
    text-decoration: none;
}

.search-d2 input[type=date], .search-d2 input[type=text]{
    border-radius: 100px;
    padding: .5rem;
    border-color: #5C6460;
    border-style: solid;
    border-width: 2px;
    color: #555154;
    font-size: 1rem;
    background-color: #F4EBE1;
}

.bkn-btn{
    border: none;
    background-color: #F4EBE1;
    transform: translate(-350%,-10%);
}

.btn-search-d2{
    border-radius: 100px;
    margin-left: 1.5rem;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-color: #5C6460;
    border-style: solid;
    border-width: 2px;
    background-color: #78746A;
    color: #F4EBE1;
    font-weight: 500px;
}

.nav-right-sd2{
    float: right;
    transform: translateY(-140%);
    margin-right: 5rem;
}

.header-morning-afternoon{
    font-size: 1.75rem;
    color: #555154;
}

.temp{
    text-align: left;
    padding-top: 1rem;
    font-size: 2rem;
    margin-left: 1rem;
    color: #555154;
}

.temp-desc{
    font-size: 1.25rem;
    color: #555154;
}

.weather{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
}



/*Monthly 2*/
.weather-box {
    width: 50%; 
    display:flex;
    background-color: #F4EBE1;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 15%;
}

.weather-box p {
    font-size: 20px;
}
