/* Daily 2 */
.navbar {
    background-color: antiquewhite;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.navbar-logo {
    width: 5.2rem;
    height: 5rem;
}

.navbar ul li {
    display: inline;
    padding: 30px;
}

.navbar ul li a {
    text-decoration: none;
}

.search-d2 input[type=date], .search-d2 input[type=text]{
    border-radius: 100px;
    padding: .5rem;
    border-color: #5C6460;
    border-style: solid;
    border-width: 2px;
    color: #555154;
    font-size: 1rem;
    background-color: #F4EBE1;
}

.bkn-btn{
    border: none;
    background-color: #F4EBE1;
    transform: translate(-350%,-10%);
}

.btn-search-d2{
    border-radius: 100px;
    margin-left: 1.5rem;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-color: #5C6460;
    border-style: solid;
    border-width: 2px;
    background-color: #78746A;
    color: #F4EBE1;
    font-weight: 500px;
}

.nav-right-sd2{
    float: right;
    transform: translateY(-140%);
    margin-right: 5rem;
}

.header-morning-afternoon{
    font-size: 1.75rem;
    color: #555154;
}

.temp{
    text-align: left;
    padding-top: 1rem;
    font-size: 2rem;
    margin-left: 1rem;
    color: #555154;
}

.temp-desc{
    font-size: 1.25rem;
    color: #555154;
}

.weather{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
}


/*Weekly 2*/
.empty{
   min-height: 1px;
}

.back{
    background-color: #F4EBE1;
}

.size{
    margin-left: 1%;
    width: 98%;
}



/*Monthly 2*/
.weather-box {
    width: 50%; 
    display:flex;
    background-color: #F4EBE1;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 15%;
}

.weather-box p {
    font-size: 20px;
}


/*Calendar*/
/*.calendar-table {
    table-layout: fixed;
    width: 900px;
    height: 700px;
    border-collapse: collapse;
    margin: auto;
}

.calendar-table th {
    text-align: center;
}

.calendar-table td {
    border: 1px solid black;
    background-color: #F4EBE1;
}

.calendar-date {
    padding: 10px;
    vertical-align: top;
}

.calendar-image {
    width: 70px;
    display: block;
    margin: auto;
}

.calendar-temp {
    display: block;
    text-align: center;
    padding: 10px;
}

.calendar-title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}*/



/*Accordion*/
.accor-bar {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.accor-bar button {
    background-color: #636565; 
    width: 90%; 
    border-radius: 20px;
}

.accor-bar span {
    color: white;
    font-size: 20px;
}

.accor-bar i {
    color: white;
    font-size: 30px;
}