

#BG{
    position: absolute;
    margin-left: -28rem;
    margin-top: 16rem;
    height: 40rem;
    opacity: 0.65;
}

.select_param{
    padding-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dropbutton{
    width: 30rem;
    border-radius: 20px;
    border-color: #5C6460;
    border-style: solid;
    border-width: 2px;
    background-color: #807f7c;
    color: #F4EBE1;
    font-weight: 500px;
    font-size: 18px;
}

.dropbutton span{
    float: left;
    margin-left: 1.5rem;
    color: white
}

.dropbutton i{
    float: right;
    margin-right: 1.5rem;
    vertical-align: middle;
}

#drop_content{
    background-color: #5C6460;
    width: 30rem;
    display: flex;
    flex-direction: column;
}

.drop_fill{
    background-color: #99a09c;
    width: 30rem;
    text-align: center;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: large;
}

.addbutton{
    border-radius: 200px;
    margin-left: 1.5rem;
    border-color: #5C6460;
    border-style: solid;
    border-width: 2px;
    background-color: #78746A;
    color: #F4EBE1;
    font-weight: 500px;
    font-size: 18px;
    padding: 0 2rem;
    height: 2rem;
}

.selected_param{
    padding-left: 32%;
    padding-right: 32%;
    padding-top: 2%;
}

.selected_param input{
    float: right;
    height: 5%;
}

.border_box{
    border: black 4px solid;
    padding: 1%;
}

.selected_content{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 1% 3%;
    margin: 1% 0;
    font-size: 25px;
}

.process_button{
    margin: 2rem 42%;
}

.process_button button{
    border-radius: 200px;
    width: 100%;
    padding: 0.3rem 0;
    font-size: 31px;
}

.result{
    overflow: hidden;
}

.today{
    margin-top: 8%;
    margin-left: 8%;
    background-color: antiquewhite;
    width: 50%;
    height: 30%;
    border-radius: 30px;
    padding: 1rem;
}

.tommorow{
    margin-top: 3%;
    margin-left: 17%;
    background-color: antiquewhite;
    width: 50%;
    height: 30%;
    border-radius: 30px;
    padding: 1rem;
}

.title{
    font-size: 30pt;
}

.date{
    font-size: 16pt;
    padding-left: 1rem;
}

.pred{
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: 48pt;
}
.accuracy{
    position: fixed;
    margin-left: 80%;
    margin-top: 8%;
    text-align: center;
}

#percent{
    font-size: 100pt;
}